<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대구공업고등학교 100년사 챗봇</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="logo-wrap">
            <a href="#">
                <img class="logo" src="../static/daegong-logo.png">
                <h1><b>대구공업고등학교</b><br>100년사 챗봇</h1>
            </a>
        </div>
    </header>
    <div class="chat-container">
        <div id="result">
            <h2>안녕하세요. 대구공고 AI챗 <b>대공봇</b>입니다.
                <img class="hi-icon" src="../static/hi.svg">
                <br>무엇을 도와드릴까요?
            </h2>
        </div>
        <div class="input-container">
            <input type="text" id="message" placeholder="" onkeydown="if (event.key === 'Enter') sendMessage()">
            <div class="send-btn">
                <img id="sendButton" src="../static/free-icon-send-17140046.png" onclick="sendMessage()" alt="Send Icon">
            </div>
        </div>
        <div class="notice">챗봇은 실수를 할 수 있습니다. 정확한 정보는 원본을 확인해 주세요.</div>
    </div>

    <!-- <div class="attribution">
        <a href="https://www.flaticon.com/kr/free-icons/-" title="종이 비행기 아이콘">종이 비행기 아이콘 제작자: I M Set - Flaticon</a>
    </div> -->

    <script>
        String.prototype.toKorChars = function() {
            var cCho = [ 'ㄱ', 'ㄲ', 'ㄴ', 'ㄷ', 'ㄸ', 'ㄹ', 'ㅁ', 'ㅂ', 'ㅃ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅉ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ' ], 
            cJung = [ 'ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ' ], 
            cJong = [ '', 'ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ' ], cho, jung, jong; 
            var str = this, 
            cnt = str.length, 
            chars = [], 
            cCode; 
            for (var i = 0; i < cnt; i++) { 
                cCode = str.charCodeAt(i); 
                if (cCode == 32) { 
                    chars.push(" ");
                    continue;
                } 
                if (cCode < 0xAC00 || cCode > 0xD7A3) { 
                    chars.push(str.charAt(i)); 
                    continue; 
                } 
                cCode = str.charCodeAt(i) - 0xAC00; 
                jong = cCode % 28; 
                jung = ((cCode - jong) / 28 ) % 21 
                cho = (((cCode - jong) / 28 ) - jung ) / 21 
                chars.push(cCho[cho]);
                chars.push(String.fromCharCode( 44032 + (cho * 588) + (jung  * 28)));
                if (cJong[jong] !== '') { 
                    chars.push(String.fromCharCode( 44032 + (cho * 588) + (jung  * 28) + jong ));
                }
            } 
            return chars; 
        }

        var result = "질문을 입력하세요.";
        var typing1 = [];
        result = result.split('');

        for (var i = 0; i < result.length; i++) {
            typing1[i] = result[i].toKorChars();
        }

        var inputField = document.getElementById("message");
        var text = "";
        var i = 0; 
        var j = 0; 
        var imax = typing1.length;
        var inter = setInterval(typi, 100);

        function typi() {
            if (i <= imax - 1) {
                var jmax = typing1[i].length;
                inputField.placeholder = text + typing1[i][j];
                j++;
                if (j == jmax) {
                    text += typing1[i][j - 1];
                    i++;
                    j = 0;
                }
            } else {
                clearInterval(inter);
            }
        }
        
        let chatHistory = { question: "", docs: "" };
        let fullContent = '';

        async function sendMessage() {
            const messageElement = document.getElementById("message");
            const sendButton = document.getElementById("sendButton");
            const message = messageElement.value.trim();
            if (!message) return;

            appendMessage(message, 'user-message');
            messageElement.value = "";
            sendButton.style.pointerEvents = 'none';
            messageElement.onkeydown = null;

            const botMessageDiv = appendMessage('<div class="loading-dots"><span>●</span><span>●</span><span>●</span></div>', 'bot-message');

            let accumulatedHtmlContent = '';
            let isComplete = false;

            const handleStreamingResponse = async (stream) => {
                const reader = stream.getReader();
                const decoder = new TextDecoder();
                let buffer = '';

                const delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));

                while (true) {
                    const { done, value } = await reader.read();
                    if (done) {
                        if (!accumulatedHtmlContent.trim()) {
                            botMessageDiv.innerHTML = "해당 내용에 대한 답변을 드릴 수 없습니다.";
                        }
                        isComplete = true;
                        break;
                    }
                    buffer += decoder.decode(value, { stream: true });

                    while (buffer.length > 0) {
                        accumulatedHtmlContent += buffer[0];
                        buffer = buffer.slice(1);

                        let htmlContent = convertMarkdownToHTML(accumulatedHtmlContent);
                        htmlContent = htmlContent.replace(/\n/g, '<br>');

                        if (accumulatedHtmlContent.length > 300) {
                            fullContent = accumulatedHtmlContent;
                            let moreContentDiv = botMessageDiv.querySelector('.more-content');
                            if (!moreContentDiv) {
                                botMessageDiv.innerHTML += '...';
                                moreContentDiv = document.createElement('div');
                                moreContentDiv.className = 'more-content';
                                botMessageDiv.appendChild(moreContentDiv);

                                const moreButton = document.createElement('div');
                                moreButton.className = 'more-button';
                                moreButton.textContent = '더보기';
                                moreButton.onclick = () => toggleMoreContent(moreButton, botMessageDiv);
                                botMessageDiv.appendChild(moreButton);
                            }
                            moreContentDiv.innerHTML = htmlContent;
                        } else {
                            botMessageDiv.innerHTML = htmlContent;
                        }
                        const resultDiv = document.getElementById("result");
                        resultDiv.scrollTop = resultDiv.scrollHeight;
                        await delay(15);
                    }
                    botMessageDiv.scrollIntoView({ behavior: 'smooth', block: 'end' });
                }

                if (isComplete) {
                    sendButton.style.pointerEvents = 'auto';
                    messageElement.onkeydown = (event) => {
                        if (event.key === 'Enter') sendMessage();
                    };
                }
            };

            function toggleMoreContent(button, botMessageDiv) {
                const moreContentDiv = botMessageDiv.querySelector('.more-content');
                const isExpanded = moreContentDiv.classList.contains('expanded');

                if (isExpanded) {
                    button.textContent = '더보기';
                    moreContentDiv.classList.remove('expanded');
                    botMessageDiv.innerHTML = convertMarkdownToHTML(fullContent.slice(0, 300)).replace(/\n/g, '<br>') + '...';
                    botMessageDiv.appendChild(moreContentDiv);
                    botMessageDiv.appendChild(button);
                } else {
                    button.textContent = '간략히';
                    moreContentDiv.classList.add('expanded');
                    moreContentDiv.innerHTML = convertMarkdownToHTML(fullContent).replace(/\n/g, '<br>');
                    botMessageDiv.innerHTML = '';
                    botMessageDiv.appendChild(moreContentDiv);
                    botMessageDiv.appendChild(button);
                }
            }

            async function getChatHistory(question) {
                try {
                    const response = await fetch(`/get_chat_history/?question=${encodeURIComponent(question)}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    chatHistory = data;
                    console.log(chatHistory);
                } catch (error) {
                    console.error('Error fetching chat history:', error);
                }
            }

            try {
                const response = await fetch('/stream_chat/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ content: message, chat_history: chatHistory })
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                await handleStreamingResponse(response.body);
                await getChatHistory(message);
            } catch (error) {
                botMessageDiv.innerHTML = "죄송합니다. 지금은 답변해 드릴 수 없습니다.";
                console.error('Error:', error);
            } finally {
                sendButton.style.pointerEvents = 'auto';
                messageElement.onkeydown = (event) => {
                    if (event.key === 'Enter') sendMessage();
                };
            }
        }

        function appendMessage(text, className) {
            const resultDiv = document.getElementById("result");
            const messageDiv = document.createElement("div");
            messageDiv.className = `message ${className}`;
            messageDiv.innerHTML = text;
            resultDiv.appendChild(messageDiv);

            messageDiv.scrollIntoView({ behavior: 'smooth', block: 'end' });

            return messageDiv;
        }

        function convertMarkdownToHTML(text) {
            return text.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>');
        }

        window.onload = () => {
            chatHistory = { question: "", docs: "" };
        };

    </script>
</body>
</html>